@for (control of actionsForm.controls; let i = $index; track i) {
<div class="action-item">
  <app-select-method
    [composeAsString]="false"
    [enableParameters]="true"
    [formControl]="control"
  ></app-select-method>
  <div class="actions">
    <button (click)="remove(i)" nzType="primary" nzDanger nz-button type="button">
      <span nz-icon nzType="delete"></span>Remove
    </button>
  </div>
</div>
}
<button class="round" (click)="add()" nzType="primary" nz-button type="button">
  <span nz-icon nzType="plus"></span>Add action
</button>
