@if (environments$ | async; as envs) {
<nz-layout class="full-height">
  <nz-sider
    class="env-manager"
    [nzWidth]="layout.environmentsPanelWidth$ | async"
    nz-resizable
    [nzMinWidth]="200"
    [nzMaxWidth]="400"
    (nzResize)="onPanelResize($event)"
  >
    <nz-resize-handle nzDirection="right">
      <div class="right-wrap resize-horizontal">
        <span class="right" nz-icon nzType="more" nzTheme="outline"></span>
      </div>
    </nz-resize-handle>
    <div class="environment-types">
      @for (type of environmentTypes; track type.id) {
      <div class="type">
        <div class="title">
          <span>
            <span nz-icon nzType="database" style="margin-right: 10px"></span>
            {{ type.name }}
          </span>
          <div class="options">
            <nz-badge
              nzShowZero
              class="environment-count"
              nzStandalone
              [nzCount]="envs?.[type.id]?.length || 0"
            ></nz-badge>
            <button (click)="add(type)" nz-button nzType="default" nzShape="circle">
              <span nz-icon nzType="plus"></span>
            </button>
          </div>
        </div>
        @if (envs[type.id]) {
        <div class="list">
          @for (env of envs[type.id]; track env.name) {
          <div
            class="environment-item"
            (contextmenu)="contextMenu($event, menu)"
            (click)="Edit(env, type.id)"
          >
            <i nz-icon nzType="right"></i>
            {{ env.name }}
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <span nz-icon nzType="reload"></span>
                  Refresh token
                </li>
                <li nz-menu-item (click)="copyToClipboard(env.token)" [nzDisabled]="!env.token">
                  <span nz-icon nzType="copy"></span>
                  Copy token
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </nz-sider>
  <nz-content class="space-between">
    @if (edit(); as _edit) {
    <app-add-edit-environment [mode]="_edit.mode" [data]="_edit.item"></app-add-edit-environment>
    }
  </nz-content>
</nz-layout>
}
