<nz-layout class="full-height" *ngIf="environments$ | async as envs">
  <nz-sider class="env-manager" [nzWidth]="layout.environmentsPanelWidth$ | async" nz-resizable [nzMinWidth]="200" [nzMaxWidth]="400" (nzResize)="onPanelResize($event)">
    <nz-resize-handle nzDirection="right">
      <div class="right-wrap resize-horizontal">
        <span class="right" nz-icon nzType="more" nzTheme="outline"></span>
      </div>
    </nz-resize-handle>
    <div class="environment-types">
      <div class="type" *ngFor="let type of environmentTypes">
        <div class="title">
          <span>
            <span nz-icon nzType="database" style="margin-right: 10px"></span>
            {{ type.name }}
          </span>
          <div class="options">
            <nz-badge nzShowZero class="environment-count" nzStandalone [nzCount]="envs?.[type.id]?.length || 0"></nz-badge>
            <button (click)="add(type)" nz-button nzType="default" nzShape="circle">
              <span nz-icon nzType="plus"></span>
            </button>
          </div>
        </div>
        <div class="list" *ngIf="envs[type.id]">
          <div class="environment-item" (click)="edit(env, type.id)" *ngFor="let env of envs[type.id]"><i nz-icon nzType="right"></i>{{ env.name }}</div>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-content class="space-between">
    <app-add-edit-environment *ngIf="edit$ | async as edit" [mode]="edit.mode" [data]="edit.item"></app-add-edit-environment>
  </nz-content>
</nz-layout>
