:host,
::ng-deep app-rule-block-multiple {
  display: block;
  &:not(:first-child) {
    border-top: 1px solid rgba(black, 0.05);
  }
}

::ng-deep app-rule-block {
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  padding-top: 40px;
  &:hover,
  &:focus-within {
    background-color: rgba(aliceblue, 0.7);
  }
}

.header,
::ng-deep app-rule-block-multiple .header {
  background-color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  border-bottom-right-radius: 8px;
  font-size: 0.85rem;
  opacity: 0.9;
}

::ng-deep app-rule-block-multiple {
  display: grid !important;
  .block {
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;
    &:hover,
    &:focus-within {
      background-color: rgba(aliceblue, 0.7);
    }
  }
  .block:not(:first-child) {
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 1px solid rgba(black, 0.05);
  }
}
