@font-face {
  font-family: "Roboto Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Regular"),
    url("^assets/fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Thin Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Thin Regular"),
    url("^assets/fonts/RobotoMono/RobotoMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Light Regular"),
    url("^assets/fonts/RobotoMono/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Medium Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Medium Regular"),
    url("^assets/fonts/RobotoMono/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Black Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Black Regular"),
    url("^assets/fonts/RobotoMono/RobotoMono-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Thin Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Light Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-LightItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Roboto Mono Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Medium Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-MediumItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Roboto Mono Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Bold"),
    url("^assets/fonts/RobotoMono/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Bold Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Black Italic"),
    url("^assets/fonts/RobotoMono/RobotoMono-BlackItalic.ttf")
      format("truetype");
}
