@if (parametersForm; as form) {
<div class="params">
  @for (control of form.get('parameters')['controls']; let i = $index; track i) {
  <div class="row" [class.inline]="api.params[i].type | isPrimitive" formArraryName="parameters">
    <div class="name">
      {{ api.params[i].normalized }}
    </div>
    @if (api.params[i].type.length > 1) {
    <div class="value">
      <nz-select [formControl]="multipleTypes.controls?.[api.params[i].name]">
        @for (type of api.params[i].type; track type) {
        <nz-option [nzValue]="type" [nzLabel]="type | titlecase"></nz-option>
        }
      </nz-select>
      <nz-form-control *ngLet="multipleTypes.get(api.params[i].name).value as type" [nzSpan]="24">
        <ng-container
          *ngTemplateOutlet="field; context: { $implicit: control, type, def: api.params[i] }"
        ></ng-container>
      </nz-form-control>
    </div>
    } @else {
    <div class="value" [class.inline]="api.params[i].type[0] === 'boolean' || api.params[i].type[0] === 'bool'">
      <ng-container
        *ngTemplateOutlet="
          field;
          context: {
            $implicit: control,
            type: api.params[i].type[0],
            def: api.params[i]
          }
        "
      ></ng-container>
    </div>
    }
  </div>
  }
</div>
<button [disabled]="form.invalid" nzType="primary" [nzLoading]="loading$ | async" nz-button (click)="send()">
  <span nz-icon nzType="send"></span>Send
</button>
}
<ng-template #field let-control let-type="type" let-def="def">
  <!-- TODO: Change to Control Flow when multiple cases are supported: https://github.com/angular/angular/issues/14659 -->
  <ng-container [ngSwitch]="type">
    <!-- Number field -->
    <ng-container *ngSwitchCase="type === 'integer' || type === 'int' ? type : ''">
      <nz-input-number
        class="numeric-field"
        nz-input
        [formControl]="control"
        [nzMin]="0"
        [nzMax]="999999999999"
        [nzStep]="1"
      ></nz-input-number>
    </ng-container>
    <!-- Datetime field -->
    <ng-container *ngSwitchCase="'datetime'">
      <app-datetime-field name="datetime" [formControl]="control"></app-datetime-field>
    </ng-container>
    <!-- String field -->
    <ng-container *ngSwitchCase="'string'">
      <input nz-input [formControl]="control" spellcheck="false" autocomplete="off" name="successValid" />
    </ng-container>
    <!-- Boolean field -->
    <ng-container *ngSwitchCase="type === 'boolean' || type === 'bool' ? type : ''">
      <nz-switch [formControl]="control"></nz-switch>
    </ng-container>
    <!-- List options field -->
    <ng-container *ngSwitchCase="'list_options'">
      <app-field-list-options [formControl]="control"></app-field-list-options>
    </ng-container>
    <!-- Default field -->
    <ng-container *ngSwitchDefault>
      <div class="code-parameter">
        <app-code-editor
          [options]="{ readOnly: false }"
          [model]="'api_entity:' + def.type[0]"
          [formControl]="control"
          language="json"
          (intellisenseEnabled)="setIntellisenseStatus(def.name, $event)"
          (onValidated)="setSchemaErrors(def.name, $event)"
        ></app-code-editor>
      </div>
      <div class="intellisense">
        <div class="label">
          Phemium IntelliSense
          <i class="flag" [class.enabled]="intellisenseStatus()?.[def.name]"></i>
        </div>
        <div class="model-name">{{ def.normalized | titlecase }}</div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
