.ant-badge {
  background-color: transparent !important;
  transition: none;
  .ant-badge-count {
    background-color: transparent !important;
    transition: none;
    color: rgba(white, 0.8);
  }
}
