.ant-select {
  .ant-select-selector {
    background-color: rgba(white, 0.1) !important;
    border: 1px solid rgba(white, 0.2) !important;
    color: rgba(white, 0.8) !important;
  }
  .anticon {
    color: rgba(white, 0.8) !important;
  }
}

.ant-select-dropdown {
  background-color: rgb(26, 29, 32) !important;
  .ant-select-item {
    background-color: rgba(white, 0.2) !important;
    color: rgba(white, 0.8) !important;
    &:not(:last-child) {
      border-color: rgba(white, 0.1) !important;
    }
    .ant-select-item-option-content {
      color: rgba(white, 0.8) !important;
    }
    &:hover {
      background-color: rgba(white, 0.25) !important;
    }
    &.ant-select-item-option-selected {
      background-color: rgba(white, 0.3) !important;
    }
  }
}

.ant-empty-description {
  color: var(--text-color);
}
