@if (loading$ | async) {
<nz-spin></nz-spin>
} @if (code$ | async; as code) {
<ngx-monaco-editor [options]="editorOptions$ | async" [ngModel]="code"></ngx-monaco-editor>
} @if (html$ | async; as html) {
<iframe [srcdoc]="html"></iframe>
}
<div class="banner" [class.ok]="response?.ok" [class.nok]="response?.ok === false">
  Response @if (response?.status; as status) {
  <span> • Status: {{ status }}</span>
  } @if (response?.responseTime; as time) {
  <span> • Time: {{ time }}ms</span>
  }
</div>
