:host {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgba(black, 0.02);
  border-top: 1px solid #1890ff;
}

.center {
  text-align: center;
}

table {
  width: 100%;
  border: 0;
  tr {
    height: 24px;
    line-height: 24px;
    td {
      height: 24px;
      line-height: 24px;
      border: 1px solid rgba(black, 0.1);
      position: relative;
      padding: 0 10px;
      box-sizing: border-box;
      min-width: 10px;
    }
  }
}

.log {
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  &:hover {
    opacity: 1;
    background-color: rgba(black, 0.02);
  }
  align-items: center;
  &:not(:last-child) {
    border-top: 1px solid rgba(black, 0.1);
  }
  & * {
    font-family: "Roboto Mono";
  }
  .url a {
    color: #1890ff;
    &:hover {
      text-decoration: underline;
    }
  }
  .status {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    background-color: #1890ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &.success .status {
    background-color: green;
  }
  &.error .status {
    background-color: red;
  }
  &.warning .status {
    background-color: orange;
  }
}
