@for (log of logs$ | async; track log.datetime) {
<div class="log" [ngClass]="log | responseStatus">
  <div class="status"></div>
  <div class="status-code" *ngIf="log.statusCode">{{ log.statusCode || 0 }}</div>
  <div class="method" *ngIf="log.method">{{ log.method }}</div>
  <div class="url" *ngIf="log.url">
    <a [href]="log.url" target="_blank">{{ log.url }}</a>
  </div>
  <div class="entity" *ngIf="log.entity">{{ log.entity }}</div>
  <div class="action" *ngIf="log.action">{{ log.action }}</div>
  <div class="size">{{ log.responseSize || 0 | bytesize }}</div>
  <div class="time">{{ log.responseTime || 0 }}ms</div>
  <div class="time-ago" *ngIf="log.datetime | timeAgo | async as time">{{ time }}</div>
</div>

}
