<table>
  @for (log of logs$ | async; track log.datetime) {
  <tr class="log" [ngClass]="log | responseStatus">
    <td width="30">
      <div class="status"></div>
    </td>
    <td width="40" class="status-code">{{ log.statusCode || 0 }}</td>
    <td class="method">{{ log.method }}</td>
    <td class="url">
      <a [href]="log.url" target="_blank">{{ log.url }}</a>
    </td>
    <td class="entity">{{ log.entity }}</td>
    <td class="action">{{ log.action }}</td>
    <td class="size">{{ log.responseSize || 0 | bytesize }}</td>
    <td class="time">{{ log.responseTime || 0 }}ms</td>
    <td class="time-ago">{{ log.datetime | timeAgo | async }}</td>
  </tr>
  }
</table>
