:host {
  display: flex;
  flex-direction: column;
}

.rule-editor {
  display: block;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}

:host::ng-deep {
  input.ng-dirty.ng-invalid,
  input.ng-dirty.ant-input-status-error,
  textarea.ng-dirty.ng-invalid {
    background-color: rgba(#cd2400, 0.03) !important;
    border-color: #cd2400 !important;
    color: #cd2400 !important;
    caret-color: #cd2400;
    &::-webkit-input-placeholder {
      color: rgba(#cd2400, 0.4);
    }
    &:-moz-placeholder {
      color: rgba(#cd2400, 0.4);
    }
  }
  .ant-select.ng-invalid .ant-select-selector {
    background-color: rgba(#cd2400, 0.03) !important;
    border-color: #cd2400 !important;
    color: #cd2400 !important;
    .ant-select-selection-placeholder {
      color: rgba(#cd2400, 0.4);
    }
  }
  input:focus,
  textarea:focus {
    background-color: aliceblue;
  }
}

:host::ng-deep div.error-message {
  color: rgba(#cd2400, 0.7);
  font-size: 0.85rem;
  margin-top: 6px;
}

:host::ng-deep .ant-tabs-tab-btn {
  font-weight: 500;
}

:host::ng-deep input {
  box-shadow: none !important;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
  color: rgba(black, 0.7);
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
  &.autosize {
    min-height: 55px;
    max-height: 200px;
    @supports (field-sizing: content) {
      field-sizing: content;
      resize: none;
    }
    @supports not (field-sizing: content) {
      field-sizing: content;
      resize: vertical;
    }
  }
}

.intro {
  color: rgba(black, 0.5);
  margin-top: 5px;
  margin-bottom: 25px;
}

.block-reference {
  background-color: var(--primary-color);
  color: white;
  font-family: "Roboto Mono";
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 1px 5px;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 0.5px;
}
