/* You can add global styles to this file, and also import other style files */

@import "~node_modules/ng-zorro-antd/resizable/style/index.css";

// Fonts
@import "./app/styles/fonts/ProductSans";
@import "./app/styles/fonts/RobotoMono";

// Components
@import "./app/styles/components";

// Variables
@import "./app/styles/variables";

// Themes
@import "./app/styles/themes/dark";
@import "./app/styles/themes/light";

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ngx-monaco-editor {
  display: block;
}

a {
  color: unset;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Product Sans";
  font-weight: 500;
  font-size: 14px;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.cdk-overlay-backdrop + .cdk-overlay-connected-position-bounding-box {
  background-color: rgba(black, 0.2);
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0;
}

nz-layout {
  .full-height {
    height: 100%;
  }
  .full-width {
    width: 100%;
  }
}

.ant-select-item {
  font-weight: 500 !important;
}

.ant-form-item {
  padding-bottom: 5px;
}
.ant-form-item-with-help .ant-form-item-explain {
  position: relative;
  top: 5px;
  font-size: 0.9rem;
}

.ant-dropdown-menu .ant-dropdown-menu-item .anticon {
  margin-right: 10px;
}

.editor-container {
  height: 100% !important;
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(5px);
  }
}

nz-modal-container {
  animation: blurIn 0.2s forwards;
}

button.round,
input.round {
  border-radius: 5px;
}

input.code {
  font-family: "Roboto Mono";
}

.ant-select-selection-item,
.ant-breadcrumb,
.ant-btn {
  font-weight: 500;
}

.select-with-icons {
  &.colors .anticon {
    color: var(--primary-color);
  }
  .ant-select-item-option-content {
    color: rgba(black, 0.7);
    .anticon {
      margin-right: 8px;
    }
  }
}

.rules-editor .ant-select-dropdown {
  border-radius: var(--input-border-radius, 8px) !important;
  .ant-select-item {
    height: 40px;
    align-items: center;
  }
  .ant-select-item:not(:last-child) {
    border-bottom: 1px solid rgba(black, 0.08);
  }
}

.method-icon {
  &.anticon-delete,
  &.anticon-close,
  &.anticon-stop {
    color: #c62828 !important;
  }
  &.anticon-ordered-list,
  &.anticon-filter,
  &.anticon-reload,
  &.anticon-sync {
    color: #1890ff !important;
  }
  &.anticon-plus {
    color: #2e7d32 !important;
  }
  &.anticon-minus-square {
    color: #fbc02d !important;
  }
  &.anticon-plus-square,
  &.anticon-check,
  &.anticon-share-alt {
    color: #689f38 !important;
  }
  &.anticon-edit,
  &.anticon-save {
    color: #fb8c00 !important;
  }
  &.anticon-question,
  &.anticon-comment {
    color: #512da8 !important;
  }
  &.anticon-send,
  &.anticon-swap {
    color: #3949ab !important;
  }
  &.anticon-api {
    color: #546e7a !important;
  }
  &.anticon-login {
    color: #00796b !important;
  }
  &.anticon-logout {
    color: #01579b !important;
  }
  &.anticon-download,
  &.anticon-upload,
  &.anticon-export {
    color: #00838f !important;
  }
}

.ant-modal-content {
  border-radius: var(--input-border-radius, 8px);
  .ant-modal-header {
    border-radius: var(--input-border-radius, 8px) var(--input-border-radius, 8px) 0 0;
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    .flex {
      display: flex;
      align-items: center;
    }
    .justify-space-between {
      justify-content: space-between;
    }
    .errors {
      color: darkred;
      .anticon {
        margin-right: 10px;
        position: relative;
        bottom: 1px;
      }
    }
    button {
      border-radius: var(--ant-button-border-radius, 8px);
    }
  }
}

.ant-tabs-tab {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  button {
    font-weight: 500;
  }
}
