/* You can add global styles to this file, and also import other style files */

@import "~node_modules/ng-zorro-antd/resizable/style/index.css";

// Fonts
@import "./app/styles/fonts/ProductSans";
@import "./app/styles/fonts/RobotoMono";

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ngx-monaco-editor {
  display: block;
}

a {
  color: unset;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Product Sans";
  font-weight: 500;
}

:root {
  --debug-panel-height: 0px;
  --log-row-height: 35px;
  --menu-panel-width: 300px;
  --primary-color: #1890ff;
  --text-color: rgba(0, 0, 0, 0.7);
  --request-panel-width: calc((100vw - var(--menu-panel-width)) / 2);
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.cdk-overlay-backdrop + .cdk-overlay-connected-position-bounding-box {
  background-color: rgba(black, 0.2);
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0;
}

nz-layout {
  .full-height {
    height: 100%;
  }
  .full-width {
    width: 100%;
  }
}

.ant-select-item {
  font-weight: 500 !important;
}

.ant-form-item {
  padding-bottom: 5px;
}
.ant-form-item-with-help .ant-form-item-explain {
  position: relative;
  top: 5px;
  font-size: 13px;
}

html:not(.dark) {
  body {
    background-color: white;
  }
}

html.dark {
  --text-color: rgba(255, 255, 255, 0.8);
  body {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.8);
  }
  nz-sider,
  .ant-layout,
  nz-content {
    background: transparent !important;
  }
}

.ant-dropdown-menu .ant-dropdown-menu-item .anticon {
  margin-right: 10px;
}

.editor-container {
  height: 100% !important;
}

code {
  background-color: rgba(black, 0.05);
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 0.5px;
}

button.round,
input.round {
  border-radius: 5px;
}

input.code {
  font-family: "Roboto Mono";
}

.ant-select-selection-item,
.ant-breadcrumb,
.ant-btn {
  font-weight: 500;
}

.select-with-icons {
  &.colors .anticon {
    color: var(--primary-color);
  }
  .ant-select-item-option-content {
    color: rgba(black, 0.7);
    .anticon {
      margin-right: 8px;
    }
  }
}

.rules-editor .ant-select-dropdown {
  border-radius: 8px !important;
  .ant-select-item {
    height: 40px;
    align-items: center;
  }
  .ant-select-item:not(:last-child) {
    border-bottom: 1px solid rgba(black, 0.08);
  }
}

.method-icon {
  &.anticon-delete,
  &.anticon-close,
  &.anticon-stop {
    color: #c62828;
  }
  &.anticon-ordered-list,
  &.anticon-filter,
  &.anticon-reload,
  &.anticon-sync {
    color: #1890ff;
  }
  &.anticon-plus {
    color: #2e7d32;
  }
  &.anticon-minus-square {
    color: #fbc02d;
  }
  &.anticon-plus-square,
  &.anticon-check,
  &.anticon-share-alt {
    color: #689f38;
  }
  &.anticon-edit,
  &.anticon-save {
    color: #fb8c00;
  }
  &.anticon-question,
  &.anticon-comment {
    color: #512da8;
  }
  &.anticon-send,
  &.anticon-swap {
    color: #3949ab;
  }
  &.anticon-api {
    color: #546e7a;
  }
  &.anticon-login {
    color: #00796b;
  }
  &.anticon-logout {
    color: #01579b;
  }
  &.anticon-download,
  &.anticon-upload,
  &.anticon-export {
    color: #00838f;
  }
}

.no-items {
  color: rgba(black, 0.4);
  font-size: 13px;
}
