<div class="header">
  <i class="logo"></i>
  <div class="web-name">API Dashboard</div>
  <nz-select
    #envSelector
    class="select-environment"
    nzShowSearch
    nzPlaceHolder="Select environment"
    (ngModelChange)="selectedEnvironment($event)"
    [formControl]="envControl"
    [nzDropdownRender]="renderTemplate"
    [nzCustomTemplate]="defaultTemplate"
    [nzBackdrop]="true"
    [nzOptionOverflowSize]="20"
  >
    @for(api of availableApis; track api.id) {
    <!---->
    @if (environments()[api.id]?.length > 0) {
    <nz-option-group [nzLabel]="api.name">
      @for (env of environments()[api.id]; track env.slug) {
      <nz-option [nzValue]="env.slug" [nzLabel]="env.name"></nz-option>
      }
    </nz-option-group>
    }
    <!---->
    }
  </nz-select>
  <ng-template #defaultTemplate let-selected>
    {{ selectedServer$ | async }}:
    {{ selected.nzLabel }}
  </ng-template>
  <ng-template #renderTemplate>
    <nz-divider class="select-environment-divider"></nz-divider>
    <a class="add-new-environment" routerLink="/environments" (click)="closeSelector()">
      <span nz-icon nzType="plus"></span>
      Create new environment
    </a>
  </ng-template>
</div>

@if (selectedEnvironment$ | async) {
<cdk-virtual-scroll-viewport itemSize="50">
  @if (loginLoading$ | async) {
  <div class="loading">
    <nz-spin nzSimple></nz-spin>
  </div>
  } @else {
  <ul nz-menu nzMode="inline" class="methods">
    @for (entity of methods$ | async; track entity.name) {
    <li
      nz-submenu
      [nzTitle]="entity.normalized"
      [nzIcon]="openMap[entity.name] ? 'folder-open' : 'folder'"
      nzTheme="twotone"
      [(nzOpen)]="openMap[entity.name]"
      (nzOpenChange)="openHandler(entity.name)"
    >
      @if(openMap[entity.name]) {
      <ul>
        @for (method of entity.methods; track method.name) {
        <li routerLink="/api" (click)="addMethodToView(method)" nz-menu-item>
          <span class="method-icon" nz-icon [nzType]="method.icon" nzTheme="outline"></span>
          {{ method.normalized }}
        </li>
        }
      </ul>
      }
    </li>
    }
  </ul>
  }
</cdk-virtual-scroll-viewport>
}
