@import "src/app/styles/mixins";

:host {
  display: block;
  width: 100%;
  height: calc(100vh - var(--debug-panel-height) - 46px);
}

nz-layout {
  display: flex;
  height: 100%;
  background-color: white;
}

:host::ng-deep nz-tabs-nav {
  margin: 0 !important;
}

:host::ng-deep .ant-tabs-tab {
  * {
    transition: none;
  }
  .ant-tabs-tab-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .ant-breadcrumb {
      nz-breadcrumb-item:first-child * {
        color: rgba(black, 0.25) !important;
      }
      nz-breadcrumb-item:last-child * {
        color: rgba(black, 0.5);
      }
    }
  }
  &.ant-tabs-tab-active {
    .ant-breadcrumb {
      nz-breadcrumb-item:last-child * {
        color: #1890ff;
      }
    }
  }
}

:host::ng-deep .ant-tabs {
  height: 100%;
  .ant-tabs-content {
    height: 100%;
    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.xhr-panel {
  border-top: 1px solid rgba(black, 0.1);
}

.parameters-container {
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 50px;
  background-color: rgba(black, 0.02);
  @include dark {
    background-color: rgba(white, 0.02);
  }
}

:host::ng-deep.request-panel {
  display: block;
  height: 100%;
  transition: none;
  width: var(--request-panel-width) !important;
  flex: 0 0 var(--request-panel-width) !important;
  min-width: 100px !important;
  max-width: calc(100vw - var(--menu-panel-width) - 100px) !important;
  background-color: white;
  border-right: 1px solid rgba(black, 0.1);
}

.response {
  display: flex;
}

.select-method-intro {
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  @include dark {
    color: rgba(white, 0.7);
  }
  svg {
    transform: scaleX(-1);
    margin-top: 30px;
    height: 150px;
    width: 150px;
    path {
      fill: rgba(black, 0.3);
      @include dark {
        fill: rgba(white, 0.3);
      }
    }
  }
}
